{% extends "base.html" %}

{% block title %}ユーザ登録{% endblock %}

{% block content %}
<div class="row">
    <div class="report-create-form">
      {% include "components/page_title.html" with text="ユーザ登録" %}
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
  
        <div class="mb-3">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>

        <div class="row mb-3">
          <div class="col">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
          </div>
          <div class="col">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
          </div>
        </div>
    
        <div class="mb-3">
          {{ form.email.label_tag }}
          {{ form.email }}
        </div>
  
        <div class="mb-3">
          {{ form.password1.label_tag }}
          {{ form.password1 }}
        </div>
  
        <div class="mb-3">
          {{ form.password2.label_tag }}
          {{ form.password2 }}
        </div>

        <div class="border-top py-3 d-flex justify-content-between">
          <button class="btn btn-outline-primary" type="submit">登録</button>
          <a class="btn btn-outline-secondary ms-auto" href="{% url 'accounts:account-list' %}">戻る</a>
        </div>
      </form>
    </div>
</div>
{% endblock %}
